* {
  font-family: "Poppins", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  line-height: 1.5;
}
.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light.css-dev-only-do-not-override-apn68 {
  margin-top: 15px;
}
.ant-menu-item.ant-menu-item-selected {
  background-color: #ff385c;
}
